.colorChanger{
    font-size: xx-large;
    animation: colorChange 2.5s infinite;
  }
  @keyframes colorChange{
    0%{color: red;}
    25%{color: blue;}
    50%{color: yellow;}
    75%{color: green;}
    100%{color: red;}
  }