.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.colorChanger{
  font-size: x-large;
  animation: colorChange 2.5s infinite;
}
@keyframes colorChange{
  0%{color: red;}
  25%{color: blue;}
  50%{color: yellow;}
  75%{color: green;}
  100%{color: red;}
}
h1,button,#messgage{
    font-family: 'Francois One',sans-serif;
}
.custom-control-label{
    color:white;
}
@media screen and (max-width:480px){
    
    h1{
        font-size:1.8em;
    }
    #first_div{
        margin-top:1em;
    }
    h2{
        font-size: 1em;;
    }
    #first_div{
        margin-top:0.5em !important;
    }
}

.img-adjust{
    padding-top:40px;
    padding-bottom:20px;
}

.heading{
    padding-top:30px;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

/*increase the contrast of ok button in the popup */
.swal-button{
  background-color: #3366cc;
}